body {
	background-color: #7028C0;
	margin: 0 auto;
	margin-top: 80px;
	padding-top: 20px;
}
#content {
	margin: 0 auto;
	min-width: 768px;
}
@media only screen and (max-width: 600px) {
	.head {
        	font-size: 150%;
        }
}
.head {
	text-align: center;
}
h1 {
	font-family: 'Lobster', cursive;
	color: #F8C818;
}
p {
	color: black;
	background-color: #48C8C0;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}
footer {
	text-align: center;
}
#byme {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-style: italic;
	background-color: #F090B8;
}
.media {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 15px;
	column-gap: 20px;
}
#first {
	width: 50%;
}
#second {
	flex-grow: 1 1 0;
	min-width: 0;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
header h2 {
    margin-left: 40px;
}
a[href*='yangfulls'] {
    color: #3e4cad;
}
.bio p {
	font-family: 'Noto Sans KR', sans-serif;
}
.bio h2 {
	font-family: 'Lobster', cursive;
	color: #60B4FD;
}
.bio {
	margin-left: 20px;
	margin-right: 20px;
}
